@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .flex-center {
    @apply flex justify-center items-center
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md
  }
  .btn-info {
    @apply btn bg-blue-500 hover:bg-blue-700
  }
  .btn-success {
    @apply btn bg-green-400 hover:bg-green-600
  }
  .btn-error {
    @apply btn bg-red-400 hover:bg-red-600
  }
}
